<div class="intro">
    <div class="">
        <h3>Please fill in form below. Thank you.</h3>
        <p>The aim of this questionnaire is to investigate how decisions are made at meal time when preparing food for more than one person. This is an investigation to find common problems with regard to meal time decision making.
The data from this questionnaire will be saved anonymously, safe way and means no one will be able to identify you after the form has been submitted.
If you could answer the following questions to the best of your ability and if the answer is not applicable please write n/a. Once filled out please email me with the form. The data will be collected and analysed with other data. Please ask questions, email 2155569b@student.gla.ac.uk , if you need to and please let me know when you are finished.
Please remember this is an investigation to find a common problem and your ability is not being evaluated. Please be honest with your answers and don’t worry if you give the same answer twice.
You are welcome to stop and abort the questionnaire at any point. If you have any questions before you start please email 2155569b@student.gla.ac.uk .
Thank you.</p>
    </div>
    
    <!-- Form -->
    <div class="hili">
        <form class="form-inline" role="form">
          
          <!-- age  -->
          <div class="form-group">
              <label for="age">age (select one):</label>
              <select class="form-control" id="age">
                <option>-20</option>
                <option>20-24</option>
                <option>25-29</option>
                <option>30-34</option>
                <option>35-39</option>
                <option>40-44</option>
                <option>45-49</option>
              </select required>
              <br>
        </div>
        
        <!-- gender  -->
        <div class="form-group">
              <label for="gender">gender (select one):</label>
              <select class="form-control" id="gender">
                <option>male</option>
                <option>female</option>
                <option>other</option>
              </select required>
              <br>
        </div>
        
        <!-- live  -->
        <div class="form-group">
              <label for="live">live (select one):</label>
              <select class="form-control" id="live">
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select required>
              <br>
        </div>
        <!-- allergies  -->
        <div class="form-group">
              <label for="allergies">allergies (select one):</label>
              <select class="form-control" id="allergies">
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select required>
              <br>
        </div>
        
        <!-- diets  -->
        <div class="form-group">
              <label for="diets">diets (select one):</label>
              <select class="form-control" id="diets">
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select required>
              <br>
        </div>
          
          <!-- Submit Button 
          <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-10">
              <button  class="btn btn-default">Submit</button>
            </div>
          </div>-->
        
    </div>
     <a href="#pizzas" class="btn btn-primary next" type="submit" role="button">Next</a>
</div>

</form>