<div class="intro">
    <div>
        <h3>Welcome</h3>
        <p>Thank you ... </p>
    </div>
    <div>
        <h3>Objective</h3>
        <p>You will be asked a series of questions on your favourite pizza’s. Mr Pizzaface will then learn from these preferances and will cook you a pizza. You can then say if it is a pizza you would eat.</p>
    </div>
    
    <!-- buttons description -->
    <div class="hili light-blue">
        <h3>Buttons</h3>
        <table class="table">
            <tr>
                <td><div id="like"></div></td>
                <td><strong>Like</strong> Click if you prefer this pizza. i.e. hawian vs. pepperoni, if you prefer hawian to pepperoni.</td>
            </tr>
            <tr>
                <td><div id="vs"></div></td>
                <td><strong>Neither</strong> Click if you can not decide which pizza you prefer.</td>
            </tr>
            
            <tr>
                <td><div id="yes"></div></td>
                <td><strong>Correct</strong> Click if you think the prediction is of a pizza you would enjoy eating.</td>
            </tr>
            
            <tr>
                <td><div id="no"></div></td>
                <td><strong>Not correct</strong> Click if you think the prediction is of a pizza you really would not enjoy eating.</td>
            </tr>

        </table>
    </div>
    <a href="#details" class="btn btn-primary next" role="button">Next</a>
</div>